## Settings file was created by plugin ReservedItemSlotCore v1.8.4
## Plugin GUID: FlipMods.ReservedItemSlotCore

[ReservedItemSlotCore]

## This setting will be ignored if InputUtils is installed and enabled. (I recommend running InputUtils to edit keybinds in the in-game settings)
# Setting type: String
# Default value: <Keyboard>/leftAlt
FocusReservedItemSlotsHotkey = <Keyboard>/leftAlt

## If set to true, swapping to the reserved hotbar slots will be toggled when pressing the hotkey rather than while holding the hotkey. Setting this option to true may have bugs at this current time.
# Setting type: Boolean
# Default value: false
ToggleFocusReservedHotbar = false

## If true, the reserved hotbar slots will not fade with the rest of the default slots.
# Setting type: Boolean
# Default value: false
PreventReservedHotbarSlotFade = false

