## Settings file was created by plugin SnatchinBracken v1.3.7
## Plugin GUID: Ovchinikov.SnatchinBracken.Main

[SnatchinBracken Settings]

## Should players drop their items when a Bracken grabs them?
# Setting type: Boolean
# Default value: true
Drop Items on Snatch = true

## Should players be targetable when dragged?
# Setting type: Boolean
# Default value: true
Ignore Turrets on Snatch = true

## If enabled, Brackens will perform kills at unpredictable times after an initial drop. Otherwise, the Bracken either must be in distance of the favorite location, or hit the time limit.
# Setting type: Boolean
# Default value: false
Brackens Behave More Naturally = false

## Should players be able to be saved through teleportation?
# Setting type: Boolean
# Default value: true
Allow teleports to save dragged players = true

## Should players be ignored by other monsters while being dragged?
# Setting type: Boolean
# Default value: true
Enemies Ignore Dragged Players = true

## If enabled, Brackens will force kill when stuck at the same spot for at least 5 seconds.
# Setting type: Boolean
# Default value: false
Stuck Force Kill = false

## If enabled, Brackens' favorite locations will be set to the Bracken room. The room sometimes doesn't spawn, so please don't be alarmed if they don't take you there if this is enabled.
# Setting type: Boolean
# Default value: true
Force Set Favorite Location To Bracken Room = true

## Should players ignore Landmines while being dragged?
# Setting type: Boolean
# Default value: true
Ignore Mines on Snatch = true

## Percent chance for insta kill, 0 to disable.
# Setting type: Int32
# Default value: 0
Chance for Insta Kill = 0

## Time in seconds until Bracken automatically kills when grabbed. Range: 1-60 seconds.
# Setting type: Int32
# Default value: 15
Seconds Until Auto Kill = 15

## Time in seconds until Bracken is allowed to take another victim.
# Setting type: Int32
# Default value: 5
Seconds Until Next Attempt = 5

## Should players be hurt gradually while being dragged?
# Setting type: Boolean
# Default value: false
Do Gradual Damage = false

## This only applies if you have "Do Gradual Damage" enabled. While dragged, every second this configured amount of damage will be dealt to the player.
# Setting type: Int32
# Default value: 5
Damage Dealt At Interval = 5

## How far should the Bracken be from its favorite spot to initiate a kill?
# Setting type: Int32
# Default value: 1
Distance For Kill = 1

## Should players be instantly killed if they're alone?
# Setting type: Boolean
# Default value: true
Instakill When Alone = true

