## Settings file was created by plugin SCPCBDunGen v2.1.0
## Plugin GUID: SCPCBDunGen

[General]

## How rare it is for the foundation to be chosen. Higher values increases the chance of spawning the foundation. Vanillas' main dungeons use a value of 300. Google Weighted Random if you don't know how it works, as that's how Lethal Company rarities function.
# Setting type: Int32
# Default value: 100
FoundationRarity = 100

## OLD CONFIG SETTING, HAS NO EFFECT. Only here to clear the legacy config from updating.
# Setting type: String
# Default value: NULL
FoundationMoons = NULL

## The moon(s) that the foundation can spawn on, in the form of a comma separated list of selectable level names and optionally a weight value by using an '@' and weight value after it (e.g. "Titan@300,Dine,Rend@10,Secret Labs@9999")
## The name matching is lenient and should pick it up if you use the terminal name or internal mod name. If no rarity is specified, the FoundationRarity parameter is used.
## The following strings: "all", "vanilla", "modded", "paid", "free" are dynamic presets which add the dungeon to that specified group (string must only contain one of these, or a manual moon name list).
## 
# Setting type: String
# Default value: Titan,Secret Labs
FoundationMoonsList = Titan,Secret Labs,Offense

## OLD CONFIG SETTING, HAS NO EFFECT. Only here to clear the legacy config from updating.
## If you want to effectively guarantee the foundation, use a weight of something like '99999'
# Setting type: Boolean
# Default value: false
FoundationGuaranteed = false

## If not -1, overrides the foundation length to whatever you'd like. Adjusts how long/large the dungeon generates.
## Be *EXTREMELY* careful not to set this too high (anything too big on a moon with a high dungeon size multipier can cause catastrophic problems, like crashing your computer or worse)
## For reference, the default value for the current version [2.1.0] is 8. If it's too big, make this lower e.g. 6, if it's too small use something like 10 (or higher, but don't go too crazy with it).
# Setting type: Int32
# Default value: -1
FoundationLengthOverride = -1

